$color-electric-violet-neutral: #5333ff;
$color-blue-medium-dark: #453FB9;
$color-blue-medium: #292fa7;
$color-valhalla: #261858;
$color-violet:#0f0933;
$color-blue-medium-light: #795cf5;
$color-blue-dodge-light:#2390ff;
$color-purple-light:#dc19ff;
$color-violet-neutral: #180a42;
$color-black: #020205;
$color-greige-light:#BFBCD2;
$color-white: #ffffff;